#canvas-container{
  text-align: center;
}

.fullscreen{

  width: 75%;
  height: 75%;
}

#vui{
  text-align: center;
}

#bluePoints{
  border: 2px solid blue;
  border-radius: 4px;
}
#redPoints{
  border: 2px solid red;
  border-radius: 4px;
}